body {
    display: flex;
    background-color: rgb(234, 234, 244);
}

#side-bar {

    width: 300px;
    background-color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#open-sideBar {
    font-size: 30px;
    background-color: white;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}

#main {
    /* border: 2px solid black; */
    height: 700px;
    width: 100%;
}

#logo-Section {
    /* border: 2px solid red; */
    margin-left: 10px;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(44, 0, 105);
    width: 100%;
    border-radius: 10px;
}

#logo {
    height: 70px;
    margin-top: 15px;
    
}

#details {
    /* border: 2px solid black; */
    margin-left: 15px;
    width: 150px;
    color: white;

}

#email,
#select_butt {
    margin-top: -12px;
}

#select_butt {
    background-color: rgb(5, 209, 5);
    color: white;
    padding: 5px 10px 5px 5px;
    border: 0;
    margin-bottom: 5px;
    cursor: pointer;
}

#search {
    /* border: 2px solid red; */

    display: block;
    width: 98%;
    margin-left: 8px;
    margin-top: 10px;
    border-radius: 5px;
    height: 40px;
    border: 1px solid rgb(176, 176, 176)
}

.invoice,
.catalog,
.entitle,
.logs,
.rev,
.set {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: -10px;
    margin-top: -20px;
    font-size: 13px;
}

#invoice_button,
#prod_button,
#entitle_button,
#logs_button,
#rev_button,
#set_button {
    width: 50px;
    font-size: 20px;
    border: 0;
    background-color: white;
    cursor: pointer;
}

#prod_empty>li,
#invoice_empty>li,
#entitle_empty>li,
#logs_empty>li,
#rev_empty>li,
#set_empty>li {
    margin-left: 20px;
}

#invoice_empty,
#prod_empty,
#entitle_empty,
#logs_empty,
#rev_empty,
#set_empty {
    margin-bottom: 10px;
}

#flag{
    height: 40px;
}