.banner {
  width: 100%;
  margin-top: 100px;
  /* height: 400px; */
  display: flex;
  justify-content: center;
  background: rgb(60, 35, 152);
  background: linear-gradient(153deg,
      rgba(60, 35, 152, 1) 46%,
      rgba(108, 28, 136, 1) 82%);
}

.left-part-banner {
  /* border: 1px solid white; */
  width: 45%;
}

.demo-text {
  color: white;
  font-size: 44px;
  font-weight: 700;
  width: 90%;
}

.right-part-banner {
  /* border: 1px solid greenyellow; */
  width: 30%;
}

#subscribe {
  width: 100%;
  height: 55px;
  background-color: #1d0968;
  border: none;
  border-radius: 25px;
  /* padding: 10px; */
}

::placeholder {
  color: #757575;
  margin-left: 15px;
  padding-left: 15px;
  font-size: 18px;
  font-weight: 500;
}

.subs-tag {
  /* border: 1px solid wheat; */
  border-radius: 25px;
  width: 80%;
  display: flex;
  background-color: #1d0968;

}

.subs-tag input {
  color: #fff;
  padding-left: 10px;
}

.subs-tag>button {
  background-color: #7f45ff;
  border-radius: 25px;
  width: 200px;
  color: white;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

.right-part-content-box {
  background-color: white;
  width: 60%;
  padding: 30px;
  margin-top: -85px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 15px;
}

.right-part-content-box {}

.right-part-content-box img {
  border-radius: 50%;
  width: 80%;
}

.right-part-img-box {
  /* border: 1px solid red; */
  width: 40%;
}

.bottom-logos {
  /* border: 1px solid whitesmoke; */
  display: flex;
  margin-left: -60px;
  margin-top: 25px;
}

.bottom-logos>div>img {
  width: 75%;
}

.right-part-banner>img {
  width: 20%;
  position: relative;
  top: -55px;
  margin-left: 190px;
  margin-top: -250px;
}