/* body{
    font-family: Arial, Helvetica, sans-serif;
} */
#power {
    height: 500px;
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    margin: auto;
    /* margin-bottom: 80px; */
}

#power>div {
    height: 500px;
    width: 47%;
    /* border: 1px solid red; */
    margin: auto;
}

#power>div>h1 {
    margin-top: 100px;
    margin-left: 2px;
}

#power button {
    margin-left: 90px;
    padding: 13px 18px;
    background-color: white;
    border: 1px solid orange;
    color: orange;
    border-radius: 5px;
}

#power>div>img {
    width: 100%;
}

#fresh {

    height: 120px;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    margin: auto;
    margin-top: 80px;

}

#fresh>div {
    /* margin-top: 50px; */
    height: 120px;
    width: 23%;
    margin: auto;

}

#fresh>div>img {
    width: 60%;
}

#freedom {
    margin-top: 30px;
    height: 400px;
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
}

#freedom>div {
    height: 400px;
    width: 48%;
    /* border: 1px solid black; */
    margin: auto;
}

#freedom>div>img {
    width: 100%;
}

#freedom>div>h2 {
    margin-left: 10px;
    color: grey;
}

#freedom>div>h4 {
    margin-left: 10px;
}

#percona {
    display: flex;

    height: 130px;
    width: 100%;
    /* border: 1px solid red; */
    margin: auto;
    margin-top: 80px;
}

#percona>div {
    height: 130px;
    width: 18%;
    /* border: 1px solid black; */
    margin: auto;
}

#percona>div>img {
    width: 80%;
}

#block {
    display: grid;
    width: 80%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 180px);
    margin: 50px auto;
    /* margin-top: 50px; */
    gap: 50px;
    margin-bottom: 20px;
    /* border: 1px solid red; */
}

#block>div {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* border: 1px solid red; */
    border-radius: 5px;

}

#block>div>img {
    width: 50%;
    margin-left: 20px;
    margin-top: 10px;
}

#block>div>h2 {
    margin-left: 20px;
    margin-top: 10px;
    font-size: medium;
    color: rgb(71, 68, 68);
}


/* banner part */