* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#chargebee_logo {
    background-color: #5400b1;
}

#chargebee_logo>img {
    margin-top: 50px;
    width: 10%;
    margin-bottom: 0px;
    margin-left: 74%;
    border: 3px solid transparent;

}

#container {
    height: 500px;
    width: 100%;
    border: 1px solid transparent;
    display: flex;
    margin: auto;
    background-color: #5400b1;
    margin-bottom: 150px;
}

#container>div:nth-child(1) {
    height: 70%;
    width: 40%;
    margin-top: 2%;
    /* border: 2px solid red; */
    margin-left: 12%;
}

#container>div:nth-child(2) {
    height: 750px;
    width: 32%;
    margin-top: 2%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-left: 9%;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 10px 20px 10px 20px;
}

#heading_container>h1 {
    font-size: 50px;
    color: white;
}

#heading_container>p {
    font-size: 25px;
    color: white;
    padding: 0px 15px;
    margin-top: -20px;
    margin-left: 0px;
}

#form {
    padding-top: 20px;
}

#form>input {
    height: 45px;
    width: 80%;
    font-size: 15px;
    padding-left: 10px;
    border-radius: 5px;
    margin: 15px 50px 8px 50px;
    border: 1px solid gray;

}

#company-resident {
    margin-left: 50px;
    margin-bottom: 30px;

}

#description {
    margin-left: 50px;
}

#description>input {
    margin-top: 20px;
}

#get_demo>input {
    margin-top: 30px;
    background-color: #5400b1;
    color: white;
    height: 40px;
    font-size: 15px;
    margin-left: 50px;
    border: 0;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
}

form>p {
    margin-left: 53px;
    margin-top: 10px;
}

#chargebee_description {
    height: auto;
    width: 90%;
    border: 1px solid transparent;
    display: flex;
    margin: auto;
    margin-top: 100px;
}

#chargebee_description>div:nth-child(1)>h2 {
    padding: 60px;
}

#image_section {
    height: 80%;
}

#image_section>img {
    width: 300px;
    margin: 30px 30px 30px 30px;
}

.dailius {
    margin-left: 60px;
    margin-top: 0px;
}

#acheivement_logo {
    margin-left: 100px;
}

#acheivement_logo>img {
    width: 7%;

}

#logo-section {
    display: flex;
    margin-top: 400px
}

#logo-section>img {
    width: 40%;

}

#fade {
    color: grey;
    font-size: 13px;
}