* {
  margin: 0px;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* <div class="cn-login__media-thumb" style="background-image:url('https://d190vb4jo83j4z.cloudfront.net/Login_Page_Banner_Aug_22.png'); background-size:120px 120px"></div> */
}

.box1 {
  width: 100%;
  height: 1000px;
  background-color: #eaeaf4;
  border: 2px;
  float: left;
}

.rightnav {
  float: right;
  margin-right: 40px;
  margin-top: 20px;
}

.rightnav>p {
  text-align: center;
  font-style: italic;
  color: #646468;
}

.rightnav>p>a {
  margin-left: 3px;
  color: #202022 !important;
  font-weight: 600;
  text-decoration: none;
}

.rightnav>p>a :hover {
  color: #ff7846;
}

#img_1 {
  width: 120px;
  /* height: 40px; */
  margin-left: 20px;
  margin-top: 20px;
}

.box2 {
  width: 820px;
  height: 450px;
  background-color: white;
  border-radius: 8px;
  /* margin-left: 20%; */
  margin: auto;
  margin-top: 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.box2_1 {
  width: 350px;
  height: 380px;
  background-color: white;
  border-radius: 2px;
  float: left;
  margin: 2%;
}

#img2_1 {
  width: 60px;
  height: 60px;
  /* background-color: #6200ea; */
  border-radius: 30%;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: -3px;
  padding: 5px;
}

#p1 {
  margin-left: 20px;
  margin-top: 30px;
  margin-bottom: -15px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 8px;
  font-size: 10px;
  color: #8c8c90;
  letter-spacing: 3px;
}

#p2 {
  margin-left: 20px;
  /* margin-top: 30px; */
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  max-width: 300px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#p2:hover {
  text-decoration: none;
  color: #6200ea;
}

.para1 {
  margin-left: 135px;
  color: gray;
  font-size: 14px;
}

.para2 {
  margin-left: 155px;
  font-size: 12px;
  color: #337ee1;
}

.para2:hover {
  text-decoration: underline;
}

.img3_1 {
  margin-left: 20px;
}

.box2_2 {
  width: 310px;
  height: 380px;
  border-radius: 2px;
  float: left;
  margin: 1%;
  /* border: 1px solid red; */
  margin-left: 80px;
  margin-top: 6%;
}

.input {
  margin-top: 5px;
  width: 85%;
  height: 40px;

  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  background-repeat: no-repeat;
  border: 1px solid #bebec8;
  background-color: #fff;
  color: #202022;
  border-radius: 4px;
  padding: 0 12px;
  margin-bottom: -25px;
}

.signup {
  border-radius: 4px;
  /* margin-left: 19px; */
  color: white;
  font-size: 12px;
  /* text-align: center; */
  /* padding-top: 10px; */
  /* display: inline; */
  margin-top: 10px;
  background-color: #ff7846;
  color: #fff;
  border: 1px solid #ff7846;
  height: 40px;
  line-height: 38px;
  font-size: 14px;
  padding: 0 30px;
}

.forpass {
  display: inline;
  margin-left: 84px;
  color: #646468 !important;
  font-size: 12px;
  text-decoration: none;
}

#h4 {
  font-weight: 500;
  color: #646468;
  margin-bottom: 12px;
}

.p6 {
  margin-top: 20px;
  font-size: 15px;
  color: gray;
  text-align: center;
}

#img6 {
  margin-left: 1px;
  margin-top: 0.85px;
  width: 40px;
  height: 37px;
}

.p7>a {
  margin-top: 10px;
  font-size: 14px;
  color: white;
  text-decoration: none;
}

.p7 {
  margin-top: 3%;
}

.btn {
  width: 80%;
  margin-left: 25px;
  height: 39px;
  margin-top: 10px;
  background-color: #4285f4;
  border: none;
  outline: none;
}

.btn2 {
  margin-top: 15px;
}

.btn2>a {
  margin-top: 3%;
  margin-left: 18%;
  color: #4285f4;
  font-size: 15px;
  text-decoration: none;
}

h2 {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #b4b4be;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

form {
  margin-bottom: 20px;
}

h2 span {
  background: #fff;
  padding: 0 8px;
  top: 2px;
  position: relative;
  color: #b4b4be;
  font-size: 13px;
}

fa-arrow-right {
  size: 1px;
}