/* nav bar modifications */
#back-box {
    /* border: 1px solid red; */
    height: 80vh;
    /* background: rgb(67,0,163);
background: linear-gradient(107deg, rgba(67,0,163,1) 0%, rgba(130,0,213,1) 87%); */

    background: rgb(67, 0, 163);
    background: linear-gradient(107deg, rgba(67, 0, 163, 1) 63%, rgba(130, 0, 213, 1) 100%);

    /* background: rgb(67,0,163);
background: linear-gradient(54deg, rgba(67,0,163,1) 63%, rgba(130,0,213,1) 100%); */
    color: #fff;
}

#back-box .navbar .dropdown .dropbtn {
    color: #fff;
}

#back-box .navbar .dropdown #resource {
    color: black;
}

#action-btns #language,
#action-btns #login {
    color: #fff;
}

#action-btns #demoBtn {
    border: 1px solid #fff;
    color: #fff;
    background-color: transparent;
}




/* head section  */
.head-section {
    /* border: 1px solid wheat; */
    width: 80%;
    margin: 60px auto;
}

.main-heading {
    font-size: 64px;
    font-weight: 700;
}

.desc-head {
    /* border: 1px solid wheat; */

    font-size: 20px;
    margin-top: -70px;
    display: flex;
    align-items: center;
}

.talk-btn {
    border: 1px solid #fff;
    background-color: transparent;
    border-radius: 12px;
    color: #fff;
    font-weight: 500;
    font-size: 10px;
    margin-top: 5px;
    padding: 0px 8px;
    margin-left: 5px;
    height: 30px;
}

.button-box {
    /* border: 1px solid #fff; */
    height: 100px;
    margin-top: 50px;
    display: flex;
    width: 45%;
    justify-content: space-between;

}

.plan-btn-box {
    /* border: 1px solid rgb(255, 255, 255); */
    height: 20px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    margin-top: 12px;
    justify-content: space-between;
    background-color: #8c5dca;
    padding: 5px 0px;
}

.currency-btn-box {
    /* border: 1px solid rgb(255, 255, 255); */
    height: 20px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    margin-top: 12px;
    justify-content: space-between;
    background-color: #8c5dca;
    padding: 5px 0px;

}

.plan-btn {
    border-radius: 25px;
    padding: 5px 15px;
    font-size: 14px;
    /* height: 35px; */
    font-weight: 500;
    border: none;
    background-color: transparent;
    color: #fff;
}

#annual_btn,
#inr {
    background-color: #fff;
    color: black;
}

.currency-btn {
    border-radius: 25px;
    padding: 4px 15px;
    font-size: 14px;
    font-weight: 500;
    border: none;
    background-color: transparent;
    color: #fff;

}

.launch-card-box {
    /* border: 1px solid white; */
    height: 300px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: -40px;
}

.launch-card-box>div>p:nth-child(1) {
    font-size: 36px;
    font-size: 700;
}

.launch-card-box>div>p:nth-child(2) {
    font-size: 16px;
    font-size: 500;
}


/* price card section */
#back-box-price {
    /* border: 1px solid black; */
    /* height: 1000px; */
    background-color: #f8f8f8;
    /* margin-top: 100px; */
    padding-top: 65px;
    padding-bottom: 100px;

}

#price-card-section {
    /* border: 1px solid red; */
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 70px;
    /* margin-top: 100px; */
}

.price-card {
    /* border: 1px solid black; */
    padding-right: 15px;

}

.curr-typr {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.price-box {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 10px;

}

.pay-type {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;

}

.price-dec {
    font-size: 14px;
    margin-bottom: 20px;

}

.get-started-btn {
    font-size: 14px;
    margin-top: 20px;
    background-color: #4300a3;
    color: #fff;
    font-size: 16px;
    /* font-weight: 500; */
    height: 45px;
    padding: 5px 20px;
    border-radius: 4px;
    border: none;
    width: 210px;

}

.tik-box-head {
    font-weight: 600;
    font-size: 16px;

}

.tik-box {
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    margin-top: -15px;
}

.tik-box p {
    font-size: 14px;

}

.tik-box>div {
    /* border: 1px solid red; */
    width: 5%;
    margin-right: 5px;

}

.tik-box img {
    /* border: 1px solid red; */
    width: 100%;
    margin-right: 5px;
}

.plan-com-btn {
    /* border: 1px solid red; */
    width: 60%;
    margin: auto;
    text-align: center;
    margin-top: 100px;
    font-size: 20px;
    font-weight: 600;
    color: #0026e6;

}

.plane-box {
    /* border: 1px solid red; */
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: center;
    padding-top: 60px;
}

.plane-box>div {
    /* border: 1px solid red; */

    width: 45%;
}

.image-side {
    /* border: 1px solid red; */

}

.content-side {
    /* border: 1px solid rgb(0, 76, 255); */

}

.image-side>div {
    /* border: 1px solid blue; */
}

.image-side img {
    width: 80%;
}

.content-side>div>p:nth-child(1) {
    font-size: 24px;
    font-weight: 600;
}

.content-side>div>p:nth-child(2) {
    font-size: 24px;
    /* font-weight: 600; */
    line-height: 1.5;
}

.content-side button {
    font-size: 18px;
    /* font-weight: 500; */
    border: none;
    background: rgb(67, 0, 163);
    background: linear-gradient(107deg, rgba(67, 0, 163, 1) 63%, rgba(130, 0, 213, 1) 100%);
    color: #fff;
    padding: 10px 15px;
}

/* banner part */