* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body {
    display: flex;
    background-color: rgb(234, 234, 244);
}

#side-bar {
    width: 300px;
    background-color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 100vh;

}

#open-sideBar {
    font-size: 30px;
    background-color: white;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    color: gray;
}

#main {
    /* border: 2px solid black; */
    height: 700px;
    width: 100%;
}

#logo-Section {
    /* border: 2px solid red; */
    margin-left: 10px;
    display: flex;
    justify-content: space-evenly;
    background-color: #2c0069;
    width: 100%;
    border-radius: 10px;
}

#logo {
    height: 70px;
    margin-top: 25px;
    margin-left: 5px;
}

#details {
    /* border: 2px solid black; */
    margin-left: 15px;
    width: 150px;
    color: white;
}

#email,
#select_butt {
    margin-top: -12px;
}

#select_butt {
    background-color: #0ab450;
    color: white;
    padding: 5px 10px 5px 5px;
    border: 0;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 5px;
}

#search {
    /* border: 2px solid red; */

    display: block;
    width: 90%;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 5px;
    height: 40px;
    border: 1px solid rgb(176, 176, 176);
    padding-left: 10px;
    padding-right: 11px;
}

#side-bar-tools {
    /* border: 2px solid red; */
    margin-top: 30px;
    margin-left: 5px;
}

.set:hover,
.invoice:hover,
.catalog:hover,
.entitle:hover,
.logs:hover,
.rev:hover,
.sidebar_quickguide:hover,
.sidebar_home:hover,
.sidebar_customer:hover,
.sidebar_subs:hover,
.sidebar_report:hover,
.sidebar_app:hover {
    background-color: rgb(226, 233, 249);
    cursor: pointer;
    border-radius: 5px;
    /* margin-left: 10px; */
    /* padding-left: 10px; */
}

.invoice,
.catalog,
.entitle,
.logs,
.rev,
.set,
.sidebar_quickguide,
.sidebar_home,
.sidebar_customer,
.sidebar_subs,
.sidebar_report,
.sidebar_app {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    margin-top: -20px;
    font-size: 13px;
    margin-bottom: 10px;
    padding-left: 10px;
    font-size: 14px;
    font-weight: 500;
    color: grey;
}

#invoice_button,
#prod_button,
#entitle_button,
#logs_button,
#rev_button,
#set_button {
    margin-top: 13px;
    height: 20px;
    border: 0px solid black;
    width: 50px;
    font-size: 20px;
    cursor: pointer;
}

#prod_empty>li,
#invoice_empty>li,
#entitle_empty>li,
#logs_empty>li,
#rev_empty>li,
#set_empty>li {
    margin-left: 20px;
    color: rgb(102, 102, 102);
    font-size: 13px;
}

#invoice_empty,
#prod_empty,
#entitle_empty,
#logs_empty,
#rev_empty,
#set_empty {
    margin-bottom: 10px;
}

#bottom {
    margin-bottom: 20px;
}

#flag {
    height: 40px;
    margin-top: 10px;
}

#home,
#features,
#dashboard {
    margin-left: 2px;
}

#customers,
#subs,
#products,
#settings {
    margin-left: 3px;
}

#invoice,
#transaction,
#app,
#reports {
    margin-left: 1px;
}

#flag:hover,
#invoice:hover,
#home:hover,
#features:hover,
#dashboard:hover,
#customers:hover,
#subs:hover,
#products:hover,
#transaction:hover,
#app:hover,
#reports:hover,
#settings:hover {
    height: 50px;
    cursor: pointer;
}



#main {
    /* border: 2px solid black; */
    margin-left: 30px;
    margin-right: 20px;

}

#sub-main-1 {
    display: flex;
    background-color: white;
    border-radius: 10px;
    height: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
}

#sub-main-1>div>p {
    color: rgb(62, 62, 62);
    font-size: 15px;
}

#sub-main-2 {
    display: flex;
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
    padding: 10px 10px 10px 0;
}

#imagery {
    margin-left: 50px;
}

#sub-main-3 {
    margin-top: 20px;
    height: 120px;
    background-color: rgb(44, 0, 105);
    width: 98%;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: auto;
    gap: 10px;
    padding: 10px 15px 10px 15px;
}

#sub-main-3>div {
    padding-left: 10px;
    background-color: rgb(61, 43, 106);
}

#sub-main-3>div>h2 {
    color: white;
}

#sub-main-3>div>h4 {
    color: rgb(206, 206, 206);
}

#buttons_home>button {

    margin-top: 20px;

    margin-left: -10px;

}

#buttons_home {
    margin-left: 10px;
    /* border: 2px solid red; */
}

#daily {
    background-color: rgb(44, 0, 105);
    cursor: pointer;
    color: white;
    border: 2px solid gray;
    padding: 5px 10px 5px 10px;
}

#month_3,
#month_6,
#month_12 {
    cursor: pointer;
    border: 2px solid gray;
    padding: 5px 10px 5px 10px;
    color: black;
}

#month_12 {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#sb_subs_1 {
    height: 50px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 95%;
}

#sb_subs_1>div {
    display: flex;
    width: fit-content;
    /* border: 2px solid red; */
}

#sb_subs_1>div>button {
    padding: 10px 15px 10px 15px;
    margin-left: 20px;
    cursor: pointer;
    /* border: 2px solid red; */
    border-radius: 5px;
}

#sb_subs_2 {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#subs_input {
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid grey;
    padding-left: 10px;
}

#sb_subs_2>div {
    /* border: 2px solid red; */

    margin: auto;
}

#sb_subs_2>div>select {
    height: 30px;
    margin-left: 10px;
}

.graph {
    margin-top: 20px;
    width: 98%;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 10px;
    padding: 10px 15px 10px 15px;
    margin-left: -20px;
    /* border: 2px solid red; */
}

.graph>img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#daily {
    border-radius: 5px;
}

#sb_subs_3 {
    /* border: 2px solid red; */
    background-color: white;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    display: grid;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

#sb_subs_3>div {
    display: flex;
    justify-content: space-between;
    /* border: 2px solid black; */
}

#create_empty_user {
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: rgb(44, 0, 105);
    color: white;
}

#create_empty_user>button {
    margin-left: 90%;
    border: 0;
    background-color: #6200ea;
    color: white;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}

#create_empty_user>button:hover {
    height: 30px;
    width: 40px;
    background-color: #8e50e4;
}

#emp_input>button:hover {
    background-color: #8e50e4;
}

#emp_user1 {
    display: grid;
    grid-template-columns: repeat(2, 150px);
    grid-auto-rows: auto;
}

#emp_h4>h4 {
    margin-top: 40px;
}

#emp_input>button {
    background-color: #6200ea;
    border: 0;
    color: white;
    width: 100px;
    height: 30px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

#emp_input>input {
    margin-top: 30px;
    width: 500px;
    padding-left: 20px;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;

}

#emp_input>select {
    height: 30px;
    margin-top: 38px;
    width: 540px;

    border-radius: 5px;
    /* height: 90px; */
}

.get_start_div {
    background-color: rgb(167, 139, 250);
    height: 100px;
    padding: 20px 0 10px 0;
}

.checklist {
    height: 50px;
    background-color: white;
    border-radius: 10px;
    width: 70%;
    margin: auto;
    margin-top: 10px;
    padding: 10px 0 10px 0;
    display: flex;
    cursor: pointer;
}

#first,
#second,
#third,
#fourth {
    background-color: white;
    border-radius: 10px;
    width: 70%;
    margin: auto;
    margin-top: 10px;
    color: rgb(89, 89, 89);
}

.checklist>button {
    margin-top: 0;
    margin-left: 5%;
    font-size: 25px;
    border: 0;
    background-color: white;
}

#first>h4,
#second>h4,
#third>h4,
#fourth>h4 {
    margin-left: 10%;
}

#first>h4>input,
#second>h4>input,
#third>h4>input,
#fourth>h4>input {
    margin-right: 3%;
}

.checklist>p {
    margin-left: 20px;
}

.checklist-1 {
    height: 80px;
    background-color: white;
    border-radius: 10px;
    width: 70%;
    margin: auto;
    margin-top: 10px;
    padding: 20px 0 20px 0;
}

#bottom:hover {
    cursor: pointer;
    background-color: rgb(226, 233, 249);
}

#app-1 {
    height: 64px;
    background-color: white;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

#app-1>button {
    height: 40px;
    width: 190px;
    margin-top: 10px;
    background-color: #6200ea;
    color: white;
    border: 0;
}

#app-2 {
    display: flex;
    height: 247px;
    background-color: white;
    justify-content: space-between;
    border-radius: 10px;
}

/* s */
#app-2>div>h1 {
    width: 540px;
    margin-left: 10%;

}

#app-2>div>button {
    width: 237px;
    height: 48px;
    margin-left: 10%;
    background-color: #6200ea;
    color: white;
    border: 0;
}

#app-2>div>p {
    margin-left: 10%;
}

#log_out {
    border-radius: 10px;
    background-color: rgb(107, 48, 188);
    margin-right: 5px;
    border: 0;
    height: 30px;
    width: 100px;
    cursor: pointer;
    color: white;
    margin-top: 20px;
    margin-left: 10px;
}

#cus_info>p,
#subs_info>p,
#next_ren>p,
#mrp>p,
#createon>p,
#uid>p {
    font-size: 15px;
}

@media all and (min-width:0px) and (max-width:1000px) {
    #sub-main-1 {
        display: block;
        height: 400px;
    }

    #sub-main-2 {
        display: block;
    }

    #imagery {
        width: 80%;
        height: 100%;
    }

    .graph {
        grid-template-columns: repeat(1, 1fr);
    }

    #sb_subs_1 {
        display: block;
        height: 120px;
        width: 90%;
    }

    #sb_subs_2 {
        display: block;
        height: 150px;
    }

    #emp_input>input {
        margin-top: 33px;
        width: 100%;
    }

    #sub-main-3 {
        grid-template-columns: repeat(2, 1fr);
        height: fit-content;
    }

}