* {
  padding: 0px;
  margin: 0px;
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  /* margin-top: 1px; */
}

#signslideshow {
  height: auto;
  width: auto;
  display: flex;
  gap: 20px;
}

#signslideshow>div {
  height: 580px;
  width: 425px;
  /* border: 1px solid black; */
}

#signslideshow>div+div {
  /* border: 1px solid red; */
  width: 920px;
}

td:first-child {
  width: 10px;
}

#sign_head {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  justify-items: center;
  /* border: 1px solid black; */
  gap: 300px;
  margin-bottom: 30px;
}

#sign_head>div>a>img {
  height: 40px;
}

#styleTextArea {
  color: #00000a;
  font-size: 18px;
  font-weight: bold;
  line-height: 32px;
  background: #fff;
  padding: 0 12px;
  margin-top: -8px;
}

input[type="text"],
select {
  width: 90%;
  min-width: 42px;
  height: 46px;
  font-weight: 600;
  line-height: 36px;
  font-size: 16px;
  border: 1px solid #cdcdcd;
  border-radius: 4px;
  background-color: #ffffff;
  transition: border-color ease-in-out 0.15s;
  color: #202022;
  padding: 0 16px;
  margin-bottom: 20px;
}

#submit_but {
  width: 30%;
  background-color: #ff7846;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  /* filter: grayscale(100%);
  opacity: 0.5; */
}

#submit_but:hover {
  background-color: #f46734;
}

#div {
  height: 400px;
  width: 80%;
  margin: auto;
  border-radius: 5px;
  padding: 40px;
}

#companyNmae {
  color: #727272;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 12px;
}

#bottomImagesign {
  margin-top: 20px;
  margin-left: 45%;
}

#borderstyle {
  width: 100px;
  height: 580px;
  width: 70%;
  margin: auto;
  border: 1px solid #cdcdcd;
  border-radius: 1.5%;
}

#borderstyletetx {
  width: 300px;
  margin-top: -17px;
  background: white;
  color: #00000a;
  font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
  font-weight: bold;
  line-height: 32px;
  background: #fff;
  padding: 0 12px;
  margin-left: 10%;
}

#styelOfocheckbox {
  width: 500px;
  padding: 0;
  margin: auto;
}

#para1signa {
  margin-top: 10px;
  font-size: 15px;
  color: #7f7f7f;
}

#spancolor {
  color: black;
}

#para1signa2 {
  font-size: 13px;
  color: #7f7f7f;
}

.container {
  width: 100%;
}

.swiper {
  width: 100%;
  height: fit-content;
}

.swiper-slide img {
  width: 100%;
}

.swiper {
  color: rgb(104, 95, 95);
}

.swiper .swiper-pagination-bullet-active {
  /* margin-top: 200px; */
  border-radius: 0px;
  background: #ff7846;
}

/* ------------------------------------------------------------ */
#sign_head>div+div>a {
  margin-top: 20px;
  text-decoration: none;
}